---
import type { CollectionEntry } from "astro:content";
import MTitle from "@components/MTitle.astro";
import Card from "@components/Card.astro";
import Layout from "./BaseLayout.astro";
import "@styles/markdown.scss";
import FormattedDate from "@components/FormattedDate.astro";
import PostTags from "@components/PostTags.astro";

export interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <div class="pb-7 mt-4">
    <MTitle />
  </div>
  <article class="mb-10">
    <Card class="markdown-body pt-5 p-8">
      <div class="capitalize text-sm text-rose-400 font-bold flex flex-row">
        <span><FormattedDate date={post.data.pubDate} /> •&nbsp;</span><PostTags
          tags={post.data.tags}
        />
      </div>
      <slot />
    </Card>
  </article>
</Layout>
